#profileSubmitForm {
    z-index: 3;
    position: fixed;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    clear: both;
    width: 100%;
    text-align: center;
    padding: 0 3%;
}

.mat-form-field {
    width: 100%;
    padding: 0 5%;
}


