.cImgStng {
    position: fixed;
    top: 0px;
}

.mat-list-item {
    height: auto !important;
    margin-bottom: 2px;
}

.sticky-bar {
    top: -150px;
    position: fixed;
}
.sticky-btns {
    top: 132px;
    position: fixed;
    width: 100%;
    background: #fff;
    padding-bottom: 5px;
    height: 20px;
    box-shadow: #444 0 1px 4px 0px;
}

.sticky-footer-up {

}

.sticky-footer-down {

}

#menuBox {
    padding-top: 5px;
}

.navigation {
    position: fixed;
    width: 100%;
    top: 282px;

}

.mini {
    top: 132px;

}



