/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

$baseIntroBkgd: url("./assets/backgrounds/mobile/bckgrnd-1.png");
$baseInputBkgd: url("./assets/backgrounds/mobile/bckgrnd-2.png");
$baseUIBkgd: url("./assets/backgrounds/mobile/bckgrnd-3.png");
// $baseIntroSignIn: url("./assets/backgrounds/mobile/bckgrnd-2.png");

:root, html, body, * {
  font-family: 'Exo 2', sans-serif, Roboto, "Helvetica Neue";
  // font-size: 12px;
}

body {
  margin: 0;
  padding: 0;
  background-color: #333333;
}


.mat-sort-header-container {
  justify-content: center !important;
  padding-left: 24px;
}
.mat-dialog-container {
  border-radius: .35rem !important;
}

input.mat-input-element {
  /*color: transparent;*/
  background-color: transparent;
  background: transparent;
}
.mat-form-field-appearance-outline .mat-form-field-outline {
  color: transparent;
  background-color: transparent;
}


@media screen and (max-width: 321px) {
  #ntroCntnr {
    height: calc(568px - 1rem);
    min-height: 640px;
  }
  .bannerCntnr {
    height: 225px !important;
    top: -1px !important;
  }
  .subNavSpacer {
    padding: 1rem !important;
  }
  .itemIMG {
    left: -61% !important;
  }
  .clientMenu {

    .menuArticle {

      button {
        max-width: 3rem !important;
      }
    }
  }
  .mainSelectors {
    padding: unset !important;
  }
  .mainMenuBtn {
    min-width: 58px !important;
    line-height: 28px !important;
    padding: 0 10px !important;
  }
  #navbar .btn-sm:not(first-child) {
    margin-left: 2px;
  }
  .icon-column {
    left: -61% !important;
  }
  #orderBtn {
    margin-left: 3px;
  }

}

@media screen and (width: 360px) {
  .bannerCntnr {
    height: 240px !important;
    top: -1px !important;
  }

  #navbar .btn-sm {
    min-width: 68px;
    line-height: 32px;
    padding: 0px 12px;
  }

  #navbar .menuBtn:not(:first-child) {
    margin-left: 3px;
  }

  #ntroCntnr {
    min-height: 640px;
  }

}

@media only screen and (width: 375px){
  #navbar {
    /*width: 100% !important;
    padding-top: 1rem;*/
  }
  #sideNav .btn-sm, #navbar .btn-sm {
    line-height: 1.725;
  }
  #navbar .btn-sm {
    font-size: 60% !important;
    padding: 0.4rem;
    min-width: 78px;
  }
  #navbar .menuBtn:not(:first-child) {
    margin-left: 3px;
  }
  /*.btn-group > .btn:not(:last-child):not(#orderAmt){
    font-size: 60% !important;
  }*/
  .bannerCntnr {
    height: 250px !important;
    top: -1px !important;
  }
  .menuOpen {
    margin-top: 30%;
  }
  /*h4 {
    font-size: 100% !important;
  }*/
  .icon-column {
    left: -38%;

  }

  #ntroCntnr {
    min-height: 670px;
  }

}

@media only screen and (min-width: 376px) and (max-width: 765px) {
  body {
    font-size: 0.75rem !important;
  }

  .media-left h4 {
    font-size: initial;
  }
  .itemIMG {
    left: -38% !important;
  }

  #ntroCntnr {
    min-height: 736px;
  }

  #navbar {
    /*width: 90% !important;*/
  }
  #sideNav .btn-sm, #navbar .btn-sm, #menuBox > #cartRef .btn-sm, #menuBox .list-group-item {
    font-size: 0.75rem !important;
  }

  .listItemGroup {
    /*padding-right: 15px !important;*/
  }
  .icon-column {
    left: -36% !important;
  }
  #navbar .btn-sm {
    min-width: 85px;
    line-height: 34px;
    padding: 0 14px;
  }
  #navbar .btn-sm:not(first-child) {
    margin-left: 3px;
  }
}



#ntroCntnr {
  /*background-image: $baseIntroBkgd;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;*/

    overflow: hidden;

    /*.darkBackground {
      background-color: #12131b;
      background: #12131b $baseIntroBkgd top center no-repeat;
      background-color: #2A2E43;
    }*/

    .fixedCenter {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        clear: both;
    }

    .logo_icon {
        border-radius: 50%;
        width: 125px;
        height: 125px;
        box-shadow: -1px 5px 11px 4px;
    }

    #CTA_div {
        position: fixed;
        /*top: 50%;*/
        left: 50%;

        z-index: 5;

        text-align: center;
        -webkit-transform: translate(-50%, -15%);
        -moz-transform: translate(-50%, -15%);
        -ms-transform: translate(-50%, -15%);
        -o-transform: translate(-50%, -15%);
        transform: translate(-50%, -15%);

        button {
            margin-top: 25%;
            min-width: 2%;
        }

        #loginOptns {
            position: absolute;
            left: 50%;
            width: 250px;
            height: auto;
            margin-top: 25%;

            -webkit-transform: translate(-50%, -50%);
            -moz-transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
            -o-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);

            a {
                margin: 1%;
            }

        }

        mat-error {
            font-weight: bold;
            padding-bottom: 20px;
        }
    }
}

.introBackground {
    background: #1b579f $baseIntroBkgd center center no-repeat;
    #CTA_div { top: 65%; }
}

.inputBackground {
    background: #1b579f $baseInputBkgd center center no-repeat;
    #CTA_div { top: 50%; }
}

.uiBackground {
  background: #1b579f $baseUIBkgd center center no-repeat;
}

.signInForm_border{
  background: aqua;
  padding: 5rem;
  border-radius: 1rem;
  border: #ddd 2rem solid;
}

#sideNav .btn-sm {
  font-size: 80% !important;
  margin: 0.125rem;
  font-weight: 300;
}
.mainSelectors {
  margin-top: 3px;
  height: 100%;
  padding: 0.5rem !important;

}
.mainSelectors img {
  pointer-events: none;
}
.off {
  display: none;
}

.price::before, .priceAdded::before, .cartSumTotal::before {
  content: '$';
}

